<ul id="dashboard_list">
  <li class="projects_list">
      <%= link_to image_tag("folder.png"), projects_path%></li>
  <li class="new_project"><%= link_to image_tag("folder_add.png"), new_project_path%></li>
  <li class="notes_list"><%= link_to image_tag("page_edit.png"), notes_path%></li>
  <li class="new_note"><%= link_to image_tag("new_page.png"), new_note_path%></li>
  <li class="snippets_list"><%= link_to image_tag("edit-paste.png"), snippets_path%></li>
  <li class="new_snippet"><%= link_to image_tag("new_page.png"), new_snippet_path%></li>
</ul>

